Node-Red_Export
[{"id":"61023bc4.33eb14","type":"tab","label":"Zigbee2Mqtt_Sonos_Playroom","disabled":false,"info":""},{"id":"44dbe198.c279f8","type":"mqtt in","z":"61023bc4.33eb14","name":"Symfonisk Remote Controler 1","topic":"zigbee2mqtt/#","qos":"2","datatype":"utf8","broker":"2e4b1274.c7f6a6","x":162.5,"y":97,"wires":[["63256a52.483354","9d84fc82.220948","34b0823e.3c2b2e","872d1804.c6ea1","301c410b.c1d246"]]},{"id":"63256a52.483354","type":"switch","z":"61023bc4.33eb14","name":"skip_forward","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"skip_forward","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":372.5,"y":252,"wires":[["1e42d14a.ecec17"]]},{"id":"3fece740.294a08","type":"better-sonos-control","z":"61023bc4.33eb14","confignode":"abae513f.ee9678","name":"","mode":"","track":"","volume":"empty","volume_value":"","x":973.5,"y":101,"wires":[]},{"id":"9d84fc82.220948","type":"json","z":"61023bc4.33eb14","name":"Volume","property":"payload","action":"","pretty":true,"x":407.5,"y":100,"wires":[["d718ee6d.56bd68"]]},{"id":"d718ee6d.56bd68","type":"range","z":"61023bc4.33eb14","minin":"0","maxin":"255","minout":"0","maxout":"40","action":"clamp","round":true,"property":"payload.brightness","name":"","x":542.5,"y":100,"wires":[["d6cbcd0c.50bcd"]]},{"id":"d6cbcd0c.50bcd","type":"function","z":"61023bc4.33eb14","name":"only \"brightness\"","func":"var newMsg = { payload: msg.payload.brightness };\nreturn newMsg;","outputs":1,"noerr":0,"x":723.5,"y":100,"wires":[["3fece740.294a08"]]},{"id":"1e42d14a.ecec17","type":"better-sonos-control","z":"61023bc4.33eb14","confignode":"abae513f.ee9678","name":"","mode":"","track":"next","volume":"","volume_value":"","x":980.5,"y":248,"wires":[]},{"id":"6bc0292.582c0d8","type":"better-sonos-control","z":"61023bc4.33eb14","confignode":"abae513f.ee9678","name":"","mode":"","track":"","volume":"","volume_value":"","x":995.5,"y":169,"wires":[]},{"id":"5c9e65e2.a7fbcc","type":"function","z":"61023bc4.33eb14","name":"only action","func":"var PPnewMsg = { payload: msg.payload.action };\n\nreturn PPnewMsg;","outputs":1,"noerr":0,"x":552,"y":170,"wires":[["6cd2efb7.f3ccb"]]},{"id":"34b0823e.3c2b2e","type":"json","z":"61023bc4.33eb14","name":"Play_Pause","property":"payload","action":"","pretty":true,"x":374,"y":169,"wires":[["5c9e65e2.a7fbcc"]]},{"id":"6cd2efb7.f3ccb","type":"change","z":"61023bc4.33eb14","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"play_pause","fromt":"str","to":"playpause","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":746.5,"y":171,"wires":[["6bc0292.582c0d8"]]},{"id":"872d1804.c6ea1","type":"switch","z":"61023bc4.33eb14","name":"skip_backward","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"skip_backward","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":378,"y":311,"wires":[["ab68d020.d9d5e8"]]},{"id":"ab68d020.d9d5e8","type":"better-sonos-control","z":"61023bc4.33eb14","confignode":"abae513f.ee9678","name":"","mode":"","track":"previous","volume":"","volume_value":"","x":981,"y":307,"wires":[]},{"id":"301c410b.c1d246","type":"debug","z":"61023bc4.33eb14","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":361.23333740234375,"y":413.0333557128906,"wires":[]},{"id":"2e4b1274.c7f6a6","type":"mqtt-broker","z":"","name":"intranet-docker_mqtt01","broker":"192.168.1.1","port":"1884","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"abae513f.ee9678","type":"better-sonos-config","z":"","name":"Playroom","serialnum":"","ipaddress":"192.168.1.2"}]
